<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Payment</title>

  <%- include("../component/lib/header.ejs") %>
</head>
<body>
    <!--Main Navigation-->
    <%- include("../component/navigation.ejs", { select: "payment" }) %>
    <!--Main Navigation-->
  
    <!--Main layout-->
    <main style="margin-top: 58px">
      <div class="container pt-4">
        <%- include("../component/breadcumb", { list: ["All payments"] }) %>
        <!--Section: Payments-->
        <section class="mb-4">
          <div class="card">
            <div class="card-header text-center py-3">
              <h5 class="mb-0 text-center">
                <strong>Payments</strong>
              </h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Date</th>
                      <th scope="col">Payment method</th>
                      <th scope="col">Customer</th>
                      <th scope="col">Product</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% payments.forEach((payment, i)=> { %>
                      <tr>
                        <th scope="row">
                          <%= i +1 %>
                        </th>
                        <td>
                          <%= payment.createdAt
                            .toString()
                            .split(" ")
                            .slice(0, 3)
                            .join(" ") %>
                        </td>
                        <td class="text-align-center">
                          <% switch(payment.paymentMethod){
                            case 'cash': %><i class="fas fa-money-bill fa-fw"></i><%
                              break
                            case 'bank_transfer': %><i class="fas fa-landmark fa-fw"></i><%
                              break
                            case 'ewallet': %><i class="fas fa-wallet fa-fw"></i><%
                              break
                            default : payment.paymentMethod
                              break
                          } %>
                        </td>
                        <td>
                          <%= payment.customer?.name || payment.customerId %>
                        </td>
                        <td>
                          <%= payment.product?.name || payment.productId %>
                        </td>
                        <td>
                          <%= payment.quantity %>
                        </td>
                        <td>
                          <%= payment.total %>
                        </td>
                      </tr>
                    <% }) %>
                  </tbody>
                </table>

                <% if (error) { %>
                  <div class="alert alert-danger" role="alert">
                    <%= error.message %>
                  </div>
                <% } %>
              </div>
            </div>
          </div>
        </section>
        <!--Section: Payments-->
      </div>
    </main>
    <!--Main layout-->
    <%- include("../component/lib/footer.ejs") %>
</body>

</html>