<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush">
                <!-- Product -->
                <a href="#collapseProduct" class="list-group-item list-group-item-action py-3 ripple"
                    aria-current="true" data-mdb-toggle="collapse" aria-expanded="true" aria-controls="collapseProduct">
                    <i class="fas fa-tag fa-fw me-3"></i><span>Product</span>
                </a>
                <!-- Collapsed content -->
                <ul id="collapseProduct" class="collapse px-3 py-1 <%= select === 'product' || select === 'new-product' ? 'show' : 'hide' %> list-group border-0 list-group-flush">
                    <li class="list-group-item list-group-item-action <%= select === 'product' && 'active' %>">
                        <a href="/product" class="text-reset">All Products</a>
                    </li>
                    <li class="list-group-item list-group-item-action <%= select === 'new-product' && 'active' %>">
                        <a href="" class="text-reset">New Product</a>
                    </li>
                </ul>
                <!-- Product -->
            </div>
            <div class="list-group list-group-flush">
                <!-- Customer -->
                <a href="#collapseCustomer" class="list-group-item list-group-item-action py-3 ripple"
                    aria-current="true" data-mdb-toggle="collapse" aria-expanded="true" aria-controls="collapseCustomer">
                    <i class="fas fa-users fa-fw me-3"></i><span>Customer</span>
                </a>
                <!-- Collapsed content -->
                <ul id="collapseCustomer" class="collapse px-3 py-1 <%= select === 'customer' || select === 'new-customer' ? 'show' : 'hide' %> list-group border-0 list-group-flush">
                    <li class="list-group-item list-group-item-action <%= select === 'customer' && 'active' %>">
                        <a href="/customer" class="text-reset">All Customers</a>
                    </li>
                    <li class="list-group-item list-group-item-action <%= select === 'new-customer' && 'active' %>">
                        <a href="/customer/addPage" class="text-reset">New Customer</a>
                    </li>
                </ul>
                <!-- Customer -->
            </div>
            <div class="list-group list-group-flush">
                <!-- Payment -->
                <a href="#collapsePayment" class="list-group-item list-group-item-action py-3 ripple"
                    aria-current="true" data-mdb-toggle="collapse" aria-expanded="true" aria-controls="collapsePayment">
                    <i class="fas fa-money-bill fa-fw me-3"></i><span>Payment</span>
                </a>
                <!-- Collapsed content -->
                <ul id="collapsePayment" class="collapse px-3 py-1 <%= select === 'payment' || select === 'new-payment' ? 'show' : 'hide' %> list-group border-0 list-group-flush">
                    <li class="list-group-item list-group-item-action <%= select === 'payment' && 'active' %>">
                        <a href="/payment" class="text-reset">All Payments</a>
                    </li>
                    <li class="list-group-item list-group-item-action <%= select === 'new-payment' && 'active' %>">
                        <a href="" class="text-reset">New Payment</a>
                    </li>
                </ul>
                <!-- Payment -->
            </div>
        </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <img src="img/store.png" height="25" alt="" loading="lazy" />
            </a>
            <span class="navbar-brand mb-0 h1">IndoComp Store</span>
            <div class="navbar-nav ms-auto d-flex flex-row"></div>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>