<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Dashboard</title>

  <%- include("../component/lib/header.ejs") %>
</head>

<body>
  <!--Main Navigation-->
  <%- include("../component/navigation.ejs", { select: "new-customer" }) %>
    <!--Main Navigation-->

    <!--Main layout-->
    <main style="margin-top: 58px">
      <div class="container pt-4">
        <!--Section: New Customer-->
        <section class="mb-4">
          <div class="card">
            <div class="card-header text-center py-3">
              <h5 class="mb-0 text-center">
                <strong>New Customer</strong>
              </h5>
            </div>
            <div class="card-body">
              <div class="row justify-content-center">
                <form class="col-md-6" action="/customer/add" method="post" onsubmit="onSubmit()">
                  <div class="form-outline my-3">
                    <input required name="name" value="<%= fields?.name %>" type="text" id="CustomerName" class="form-control" />
                    <label class="form-label" for="CustomerName">Customer name</label>
                  </div>
                  <div class="form-outline my-3">
                    <input required name="phone" value="<%= fields?.phone %>" type="text" id="Phone" class="form-control" />
                    <label class="form-label" for="Phone">Phone number</label>
                  </div>
                  <div class="form-outline my-3">
                    <textarea required name="address" class="form-control" id="Address" rows="4"><%= fields?.address %></textarea>
                    <label class="form-label" for="Address">Address</label>
                  </div>
                  <% if (error) { %>
                    <div class="alert alert-danger" role="alert">
                      <%= error %>
                    </div>
                  <% } %>
                  <button id="btn-submit" type="submit" class="btn btn-primary">
                    <i class="fas fa-users fa-fw me-3"></i> Post
                  </button>
                </form>
              </div>
            </div>
          </div>
        </section>
        <!--Section: New Customer-->
      </div>
    </main>
    <!--Main layout-->
    <%- include("../component/lib/footer.ejs") %>
</body>

</html>